<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICodeproofService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservice.codeproof.com/public/v1/CodeproofService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodeproofService"
                contract="codeproofService.ICodeproofService" name="BasicHttpBinding_ICodeproofService" />
        </client>
    </system.serviceModel>
</configuration>